body {
  margin: 0;
  font-family: 'Yeon Sung', Georgia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: Yeon Sung;
  src:
  local(Yeon Sung),
  local(Yeon-Sung),
  url(http://pop.baemin.com/fonts/yeonsung/BMYEONSUNG_ttf.ttf);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
